.container {
    width: 1283px;
    margin: 30px auto;
    padding: 0;
}

.logo {
    width: fit-content;
}

.logo-text {
    font-family: Roboto;
    font-size: 80px;
    line-height: 94px;
    text-decoration: none;
    color: #000000;
}

.logo-text-blue {
    color: #7DBCFE;
}

.top-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #35444F;;
    margin-top: 38px;
}

.top-menu-item {
    padding: 26px 32px;
    border-left: 1px solid #FFFFFF;
    list-style: none;
}

.top-menu-text {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.middle-page-side {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.left-menu {
    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.left-menu-item {
    list-style: none;
    padding: 26px 44px;
}

.left-menu-text {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.content {
    width: 885px;
    margin-left: 52px;
}

.image-box {
    text-align: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}

.ramda-img {
    margin: 75px auto;
}

.content-text {
    margin-top: 37px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.bottom-page-side {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    padding: 20px 40px;
    background: rgba(99, 105, 110, 0.48);
}

.bottom-menu {
    width: 928px;
    display: flex;
    list-style: none;
}

.bottom-menu-item {
    margin-right: 25px;
}

.bottom-menu-text {
    font-family: Roboto;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;

}

.copyright-side {
    display: flex;
    align-items: center;
}

.copyright-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}